body {
  background-color: beige;
}
.maindiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  /* background-color: beige; */
  /* border: 2px solid red; */
}
.centerdiv {
  width: 25%;
  height: 80vh;
  background-color: aquamarine;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* padding: 2px 2px 2px 2px; */
  background-color: rgb(185, 227, 17);
  border-radius: 20%;
}

.listdiv {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.inputdiv {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

/* input {
  height: 30px;
  
  text-align: center;
  border: none;
  background: transparent;
  border-bottom: 2px solid rgb(170, 224, 23);
  outline: none;
  font-size: 20px;
} */

ul {
  list-style-type: none;
  padding: 2px;
}
li {
  margin: 10px;
}

.Addicon{
  color: black;
}
.Addicon:hover{
  color: green;
}
.inputfield{
  font-weight: 50px;
}


